<!DOCTYPE html>

<html lang="zh">
  <head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>vue表单嵌套表格逐行验证</title>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- 引入样式 -->

    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />

    <!-- 引入组件库 -->

    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- 页面组件 -->

      <h2 style="text-align: center; line-height: 23px; color: #909399">
        vue表单嵌套表格逐行验证
      </h2>

      <el-form
        :model="form"
        :rules="rules"
        ref="form"
        :inline="true"
        style="margin: 23px auto 0px; width: 96%; overflow: hidden"
      >
        <el-table border :data="form.list">
          <el-table-column align="center" prop="id" label="序号" width="55">
          </el-table-column>

          <el-table-column align="center" prop="name" label="姓名">
            <template scope="scope">
              <el-form-item
                :prop="'list.' + scope.$index + '.name'"
                :rules="rules.name"
                v-if="scope.row.show"
              >
                <el-input
                  size="mini"
                  v-model="scope.row.name"
                  placeholder="请输入"
                  clearable
                >
                </el-input>
              </el-form-item>

              <div v-if="!scope.row.show">{{scope.row.name}}</div>
            </template>
          </el-table-column>

          <el-table-column align="center" prop="age" label="年龄">
            <template scope="scope">
              <el-form-item
                :prop="'list.' + scope.$index + '.age'"
                :rules="rules.age"
                v-if="scope.row.show"
              >
                <el-input
                  size="mini"
                  v-model="scope.row.age"
                  placeholder="请输入"
                  clearable
                >
                </el-input>
              </el-form-item>

              <div v-if="!scope.row.show">{{scope.row.age}}</div>
            </template>
          </el-table-column>

          <el-table-column align="center" prop="phone" label="联系方式">
            <template scope="scope">
              <el-form-item
                :prop="'list.' + scope.$index + '.phone'"
                :rules="rules.phone"
                v-if="scope.row.show"
              >
                <!-- <el-form-item v-if="scope.row.show"> -->

                <el-input
                  size="mini"
                  v-model="scope.row.phone"
                  placeholder="请输入"
                  clearable
                >
                </el-input>
              </el-form-item>

              <div v-if="!scope.row.show">{{scope.row.phone}}</div>
            </template>
          </el-table-column>

          <el-table-column
            label="操作"
            align="center"
            width="290"
            fixed="right"
          >
            <template slot-scope="scope">
              <el-button
                type="text"
                style="color: #e6a23c"
                @click="save(scope.$index, scope.row)"
                v-if="scope.row.show"
                icon="el-icon-check"
                >保存
              </el-button>

              <el-button
                type="text"
                style="color: #409eff"
                @click="edit(scope.row)"
                v-if="!scope.row.show"
                icon="el-icon-edit"
                >编辑
              </el-button>

              <el-button
                type="text"
                style="color: #67c23a"
                v-if="scope.$index+1 == listLength"
                @click="addRow(scope.$index, scope.row)"
                icon="el-icon-plus"
                >新增
              </el-button>

              <el-button
                type="text"
                style="color: #f56c6c"
                @click="delRow(scope.$index, scope.row)"
                icon="el-icon-delete"
                >删除
              </el-button>

              <el-button
                type="text"
                style="color: #909399"
                @click="reset('form', scope.$index)"
                v-if="scope.row.show"
                icon="el-icon-refresh"
                >重置
              </el-button>

              <!-- <el-button type="text" style="color: #909399;" @click="resetRow(scope.row)"

                            v-if="scope.row.show" icon="el-icon-refresh">重置

                        </el-button> -->
            </template>
          </el-table-column>
        </el-table>
      </el-form>
    </div>
  </body>
</html>

<script>
  var app = new Vue({
    el: "#app",

    data() {
      return {
        // 表单数据

        form: {
          // 表格数据
          list: [
            { id: 1, name: "", age: "", phone: "", show: true },
            { id: 2, name: "", age: "", phone: "", show: true },
            { id: 3, name: "", age: "", phone: "", show: true },
        ],
        },

        // 表单验证规则

        rules: {
          name: [{ required: true, message: "请输入姓名！", trigger: "blur" }],
          age: [{ required: true, message: "请输入年龄！", trigger: "blur" }],
          phone: [
            { required: true, message: "请输入联系方式！", trigger: "blur" },
          ],
        },

        // 表格长度默认为 1

        listLength: 1,
      };
    },

    methods: {
      // 校验

      validateField(form, index) {
        let result = true;

        for (let item of this.$refs[form].fields) {
          if (item.prop.split(".")[1] == index) {
            this.$refs[form].validateField(item.prop, (err) => {
              if (err != "") {
                result = false;
              }
            });
          }

          if (!result) break;
        }

        return result;
      },

      // 重置【只针对校验字段】

      reset(form, index) {
        this.$refs[form].fields.forEach((item) => {
          if (item.prop.split(".")[1] == index) {
            item.resetField();
          }
        });
      },

      // 重置【全部】

      resetRow(row) {
        row.name = "";

        row.age = "";

        row.phone = "";
      },

      // 保存

      save(index, row) {
        if (!this.validateField("form", index)) return;

        row.show = false;
      },

      // 新增

      addRow(index, row) {
        if (!this.validateField("form", index)) return;

        this.form.list.push({
          id: index + 2,

          name: "",

          age: "",

          phone: "",

          show: true,
        });

        this.listLength = this.form.list.length;
      },

      // 编辑

      edit(row) {
        row.show = true;
      },

      // 删除

      delRow(index, row) {
        if (this.form.list.length > 1) {
          this.form.list.splice(index, 1);

          this.listLength = this.form.list.length;
        } else {
          this.form.list = [
            {
              id: 1,

              name: "",

              age: "",

              phone: "",

              show: true,
            },
          ];
        }
      },
    },
  });
</script>
